data/processed_csvs/
S7T/processed_plots/**
S7T/first_pass_processed/

S7T/data/ 
src/temporal_sae_implementation/pretrained_sae/

analysis/figures/exploratory
features/3T

results/archive/
*.DS_store
*.idea
*.pyc
src/out/*
src/err/*
*.script
*.pyc
**/*.pyc
*.pkl
*.out
*.err

results/fROI/full_features/generalization_2000/sae/gemma-2-2b-res-matryoshka-dc/mean/12/standardized_betas/generalization/*.csv
results/fROI/full_features/generalization_8000/sae/gemma-2-2b-res-matryoshka-dc/mean/12/standardized_betas/generalization/*.csv

results_anon/fROI/full_features/generalization_2000/sae/gemma-2-2b-res-matryoshka-dc/mean/12/standardized_betas/generalization/*.csv
results_anon/fROI/full_features/generalization_8000/sae/gemma-2-2b-res-matryoshka-dc/mean/12/standardized_betas/generalization/*.csv